<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" ><img src="../../../assets/image/logoEN.png" alt="" style="font-size: 1px; width: 60px;" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="#"><img src="../../../assets/image/benin.png" alt="" style="font-size: 1px; width: 30px;" /></a>
              <a class="nav-link" href="#"><img src="../../../assets/image/square.png" alt="" style="font-size: 1px; width: 24px; padding-top: 8px; margin-left: 16px;" /></a>
              <a class="nav-link" href="#"><img src="../../../assets/image/notification.png" alt="" style="font-size: 1px; width: 24px;" /></a>

                <div class="dropdown">
                  <img src="../../../assets/image/icon_lo.jpg" alt="Profil" class="profile-img" style="font-size: 1px; width: 24px;padding-top: 8px; margin-left: 16px;" >

                    <div class="dropdown-content">
                      <a href="#">se connecter</a>
                      <a href="#">Inscrire</a>

                    </div>


              </div>
          </div>
      </div>
  </div>
</nav>
