
<div class="container offres">
  <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem; margin-bottom: 1%;">
              <div class="card-body">
                <button class="Domaine btn" style="background-color: rgb(210, 210, 235); color:blue;">Domaine</button>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Poste rechercher</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Description</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Critère</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Dossier</h6>
                <p class="line" style="background-color: gray; width: 120px; font-size: 1px; margin-top: 1%;">.</p>
                <p class="card-text"><img src="assets/image/clock.jpg" class="bx" style="font-size: 1px; width: 30px;"/> Il y a 30 min</p>
                <p class="card-text"><img src="assets/image/diplome.png" class="bx" style="font-size: 1px; width: 30px;"/> Licence</p> <br>
                <p class="card-text"><img src="assets/image/deadline_100px.png  " class="bx" style="font-size: 1px; width: 30px;"/> 02 Octobre 2023</p> <br>
                  <button  routerLink="/Inscription"  class="btn btn-primary" style="text-align: center;">Postuler</button>
              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;margin-bottom: 1%;">
              <div class="card-body">
                  <button class="card-title btn" style="background-color: rgb(210, 210, 235); color:blue;">Domaine</button>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Poste rechercher</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Description</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Critère</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Dossier</h6>
                <p class="line" style="background-color: gray; width: 120px; font-size: 1px; margin-top: 1%;">.</p>
                <p class="card-text"><img src="assets/image/clock.jpg" class="bx" style="font-size: 1px; width: 30px;"/> Il y a 30 min</p>
                <p class="card-text"><img src="assets/image/diplome.png" class="bx" style="font-size: 1px; width: 30px;"/> Licence</p> <br>
                <p class="card-text"><img src="assets/image/deadline_100px.png  " class="bx" style="font-size: 1px; width: 30px;"/> 02 Octobre 2023</p> <br>
                <button routerLink="/Inscription" class="btn btn-primary" style="text-align: end;">Postuler</button>

              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem; margin-bottom: 1%;">
              <div class="card-body">
                  <button class="card-title btn" style="background-color: rgb(210, 210, 235); color:blue;">Domaine</button>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Poste rechercher</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Description</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Critère</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Dossier</h6>
                  <p class="line" style="background-color: gray; width: 120px; font-size: 1px; margin-top: 1%;">.</p>
                  <p class="card-text"><img src="assets/image/clock.jpg" class="bx" style="font-size: 1px; width: 30px;"/> Il y a 30 min</p>
                  <p class="card-text"><img src="assets/image/diplome.png" class="bx" style="font-size: 1px; width: 30px;"/> Licence</p> <br>
                  <p class="card-text"><img src="assets/image/deadline_100px.png  " class="bx" style="font-size: 1px; width: 30px;"/> 02 Octobre 2023</p> <br>
                  <button  routerLink="/Inscription"  class="btn btn-primary" style="text-align: right;">Postuler</button>

              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem; margin-bottom: 1%;">
              <div class="card-body">
                  <button class="card-title btn" style="background-color: rgb(210, 210, 235); color:blue;">Domaine</button>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Poste rechercher</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Description</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Critère</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Dossier</h6>
                  <p class="line" style="background-color: gray; width: 120px; font-size: 1px; margin-top: 1%;">.</p>
                  <p class="card-text"><img src="assets/image/clock.jpg" class="bx" style="font-size: 1px; width: 30px;"/> Il y a 30 min</p>
                  <p class="card-text"><img src="assets/image/diplome.png" class="bx" style="font-size: 1px; width: 30px;"/> Licence</p> <br>
                  <p class="card-text"><img src="assets/image/deadline_100px.png  " class="bx" style="font-size: 1px; width: 30px;"/> 02 Octobre 2023</p> <br>
                  <button  routerLink="/Inscription" class="btn btn-primary" style="text-align: right;">Postuler</button>

              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem; margin-bottom: 1%;">
              <div class="card-body">
                  <button class="card-title btn" style="background-color: rgb(210, 210, 235); color:blue;">Domaine</button>

                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Poste rechercher</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Description</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Critère</h6>
                <h6 class=" mb-2 text-muted" style="font-weight: 800;">Dossier</h6>

                <p class="line" style="background-color: gray; width: 120px; font-size: 1px; margin-top: 1%;">.</p>
                <p class="card-text"><img src="assets/image/clock.jpg" class="bx" style="font-size: 1px; width: 30px;"/> Il y a 30 min</p>
                <p class="card-text"><img src="assets/image/diplome.png" class="bx" style="font-size: 1px; width: 30px;"/> Licence</p> <br>
                <p class="card-text"><img src="assets/image/deadline_100px.png  " class="bx" style="font-size: 1px; width: 30px;"/> 02 Octobre 2023</p> <br>
                <button routerLink="/Inscription" class="btn btn-primary" style="text-align: right;">Postuler</button>

              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem; margin-bottom: 1%;">
              <div class="card-body">
                  <button class="card-title btn" style="background-color: rgb(210, 210, 235); color:blue;">Domaine</button>

                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Poste rechercher</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Description</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Critère</h6>
                  <h6 class=" mb-2 text-muted" style="font-weight: 800;">Dossier</h6>
                  <p class="line" style="background-color: gray; width: 120px; font-size: 1px; margin-top: 1%;">.</p>
                  <p class="card-text"><img src="assets/image/clock.jpg" class="bx" style="font-size: 1px; width: 30px;"/> Il y a 30 min</p>
                  <p class="card-text"><img src="assets/image/diplome.png" class="bx" style="font-size: 1px; width: 30px;"/> Licence</p> <br>
                  <p class="card-text"><img src="assets/image/deadline_100px.png  " class="bx" style="font-size: 1px; width: 30px;"/> 02 Octobre 2023</p> <br>
                  <button routerLink="/Inscription" class="btn btn-primary" style="text-align: right;">Postuler</button>

              </div>
            </div>
      </div>
  </div>

</div>
