   

    <section id="Formulaire">
        <div>
            <h2>Formulaire</h2>
        </div>
            <form action="" method="POST">
                <div class="control">
                    <input type="email" name="email" placeholder="Email *" id="re">
                </div>
                <div class="control">
                    <input type="date" name="date" placeholder="" id="re">
                </div>
                <div class="control">
                    <input type="text" name="Adresse" placeholder="Address *" id="re">
                </div>
                <div class="control">
                    <input type="tel" name="Numéro" placeholder="Téléphone *" id="re">
                </div>

                <div class="cv">
                    <p> CV *</p>
                    <input type="file" name="" placeholder="" id="cv">
                </div>


                <div class="cv">
                  <p> Lettre de Motivation*</p>
                  <input type="file" name="" placeholder="" id="lettre">
              </div>

                <div class="control">
                    <button>Soumettre</button>
                </div>
            </form>

    </section>



