<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Bonjour, Bienvenue à vous.</b></h2>
                <p class="fs-4 mt-2">Entrez vos identifiants pour continuer</p>
              </div>
            </div>
          </div>
          <div class="d-grid">
            <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
              <img src="../../../assets/image/google-icon.svg" />Se Connecter Avec Google
            </button>
          </div>
          <div class="séparateur mt-3">
            <span>ou</span>
          </div>
          <h5 class="my-4 d-flex justify-content-center"> Se connecter avec une adresse e-mail </h5>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" value="info@codedthemes.com" />
            <label for="floatingInput">Adresse e-mail / Nom d'utilisateur</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" value="12345" />
            <label for="password">Mot de passe</label>
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Se souvenir de moi</label>
            </div>
            <h5 class="text-secondary">
              <a href="javascript:">Mot de passe oublié ?</a>
            </h5>
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-secondary">Se Connecter</button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a  routerLink="/Inscription">Vous n'avez pas de compte ?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
